:host {
  display: block;
  text-align: center;
}

.navbar-text {
  position: relative;
  top: 23px;
  left: -114px;
  font-size: 18px;
  color: #afaea9;
  font-family: Courier, monospace
}

/* Ajuster la largeur du dropdown pour qu'elle soit proportionnelle au contenu */
.navbar-item.has-dropdown.is-active .navbar-dropdown {
  display: block;
  white-space: nowrap;
}

.navbar-dropdown .navbar-item {
  display: inline-block;
  white-space: nowrap;
}

/* Ajuster la largeur du dropdown pour qu'elle soit proportionnelle au contenu */
.navbar-dropdown .navbar-item {
  padding: 0.5em 1em;
  min-width: fit-content;
}

.centered-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22vh;
  overflow: hidden;
  margin: 15px 0;
}

.centered-image img {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
}

@media screen and (max-width: 768px) {
  .centered-image img {
    max-width: 50%;
  }

  .image-container {
    flex-direction: column;
  }
}

.svg-box {
  margin: 20px;
  text-align: center;
}

.svg-box img {
  height: auto;
  width: 50%;
}

@media screen and (min-width: 769px) {
  .svg-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .svg-box img {
    max-width: 70%;
  }
}



