<nav class="navbar">
  <div class="navbar-brand">
    <img src="./assets/images/alex_text.png" alt="Logo" class="navbar-item">
    <span class="navbar-item navbar-text"> Made with a lot of love 🥰</span>
  </div>

  <div class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" routerLink="/about">About</a>
      <a class="navbar-item" routerLink="/experience">Experience</a>
      <a class="navbar-item" routerLink="/contact">Contact</a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">Language</a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="#" (click)="changeLanguage('fr')">FR</a>
          <a class="navbar-item" href="#" (click)="changeLanguage('de')">DE</a>
          <a class="navbar-item" href="#" (click)="changeLanguage('en')">EN</a>
        </div>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<!-- Image principale -->
<div class="container has-text-centered">
  <div class="centered-image">
    <img ngSrc="./assets/images/alex.png" alt="Mon image" height="290" width="290">
  </div>
</div>

<!-- Box avec l'image SVG -->
<app-svg-image-computer src="./assets/svg/computer-screen-svgrepo-com.svg" [svg]="true"></app-svg-image-computer>

