<body>
  <nav class="navbar">
    <div class="navbar-brand">
      <img src="../assets/images/alex_text.png" alt="Logo" class="navbar-item">
      <span class="navbar-item navbar-text"> Made with a lot of love 🥰</span>
    </div>

    <div class="navbar-menu">
      <div class="navbar-end">
        <a href="#" class="navbar-item">Option 1</a>
        <a href="#" class="navbar-item">Option 2</a>
        <a href="#" class="navbar-item">Option 3</a>
        <a href="#" class="navbar-item">Option 4</a>
      </div>
    </div>
  </nav>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-two-fifths centered-image">
          <img src="../assets/images/alex.png" alt="Image au centre">
        </div>
        <div class="column">
          ici il y'aura le text ...
          <!-- Contenu de la deuxième colonne ici si nécessaire -->
        </div>
      </div>
    </div>
  </section>
</body>
<router-outlet></router-outlet>
