<div class="container has-text-centered">
  <div class="columns">
    <div class="column">
      <div class="svg-container">
        <img src="./assets/svg/computer-screen-svgrepo-com.svg" alt="computer image" [ngClass]="{'image-container':true, 'svg-box':true}" >
        <div class="svg-content has-text-centered">
            <p>
              Du Cameroun à l'Allemagne pour étudier les outils informatiques.
              Je suis tombé amoureux de DEV et chaque jour j'essaie d'apprendre pour m'améliorer.
              Mon objectif est de devenir un développeur fullstack senior et de profiter des joies
              de la digitalisation. Dans mon processus, je m'intéresse entre autres aux technologies
              telles que le développement back-end, le développement frontend, les outils cloud,
              DevOps, blockchain et un peu aux systèmes embarqués.
            </p>
        </div>
      </div>
    </div>
  </div>
</div>
